@model ShoeShop.Models.CategoryModel
@{
    ViewData["Title"] = "Edit Category Admin";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> SỬA DANH MỤC</h4>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Edit" method="post">
                        <input type="hidden" id="Id" name="Id" value="@Model.Id">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Tên danh mục</label>
                            <input type="text" class="form-control" id="basic-default-fullname" placeholder="Nhập tên danh mục" asp-for="Name" value="@Model.Name" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Trạng thái</label>
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" asp-for="Status">
                                <option value="0">Tắt</option>
                                <option value="1">Bật</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a href="@Url.Action("Index", "Category")" class="btn btn-outline-secondary">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>