@{
    ViewData["Title"] = "Checkout";
}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Thanh toán</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-product">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-sm-10 offset-md-1">
				<div class="process-wrap">
					<div class="process text-center">
						<p><span style="background-color: #88c8bc; border-radius: 50%; color: white">01</span></p>
						<h3>Giỏ hàng</h3>
					</div>
					<div class="process text-center">
						<p><span style="background-color: #88c8bc; border-radius: 50%; color: white">02</span></p>
						<h3>Thanh toán</h3>
					</div>
					<div class="process text-center">
						<p><span>03</span></p>
						<h3>Cảm ơn</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-md-12">
								<div class="cart-detail">
									<h2 class="text-center">Thông tin mua hàng</h2>
									<ul>
										<li>
											<span>Tạm tính</span> <span>100.000 đ</span>
											<ul>
												<li><span style="text-indent: 2em;">1 x Product Name</span> <span>50.000 đ</span></li>
												<li><span style="text-indent: 2em;">1 x Product Name</span> <span>50.000 đ</span></li>
											</ul>
										</li>
										<li><span>Phí vận chuyển</span> <span>0 đ</span></li>
										<li><span>Giảm giá</span> <span>0 đ</span></li>
										<li><span>Tổng giá tiền</span> <span>500.000 đ</span></li>
									</ul>
								</div>
							</div>
						</div>						
					</div>
					<div class="col-md-12">
						<form method="post" class="colorlib-form">
							<h2 class="text-center">Thông tin thanh toán</h2>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="fname">Họ và tên</label>
										<input type="text" id="name" class="form-control" placeholder="Họ và tên">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="phone">Số điện thoại</label>
										<input type="text" id="phone" class="form-control" placeholder="Số điện thoại">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">Email</label>
										<input type="text" id="email" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="address">Địa chỉ nhận hàng</label>
										<input type="text" id="address" class="form-control" placeholder="Địa chỉ nhận hàng">
									</div>
								</div>
							</div>
							</br>
							<h2 class="text-center">Phương thức thanh toán</h2>												
							<div class="row text-center">
								<div class="col-md-4">
									<div class="radio">
										<label><input type="radio" name="optradio"> Ví điện tử Momo</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="radio">
										<label><input type="radio" name="optradio"> Thanh toán VNPay</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="radio">
										<label><input type="radio" name="optradio"> Thanh toán khi nhận hàng (COD)</label>
									</div>
								</div>
							</div>
							</br>
							<div class="row">
								<div class="col-md-12 text-center">
									<p><a href="#" class="btn btn-primary">Thanh toán</a></p>
								</div>
							</div>
						</form>
					</div>					
				</div>				
			</div>			
		</div>
	</div>
</div>