@{
    ViewData["Title"] = "Checkout";
}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Thanh toán</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-product">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-sm-10 offset-md-1">
				<div class="process-wrap">
					<div class="process text-center">
						<p><span style="background-color: #88c8bc; border-radius: 50%; color: white">01</span></p>
						<h3>Giỏ hàng</h3>
					</div>
					<div class="process text-center">
						<p><span style="background-color: #88c8bc; border-radius: 50%; color: white">02</span></p>
						<h3>Thanh toán</h3>
					</div>
					<div class="process text-center">
						<p><span>03</span></p>
						<h3>Cảm ơn</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">					
					<div class="col-md-12">
						<form method="post" class="colorlib-form" asp-action="Index" asp-controller="Checkout">
							<h2 class="text-center">Thông tin thanh toán</h2>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="fname">Họ và tên</label>
										<input type="text" id="name" class="form-control" placeholder="Họ và tên" name="name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="phone">Số điện thoại</label>
										<input type="text" id="phone" class="form-control" placeholder="Số điện thoại" name="phone">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="email">Email</label>
										<input type="text" id="email" class="form-control" placeholder="Email" name="email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="address">Địa chỉ nhận hàng</label>
										<input type="text" id="address" class="form-control" placeholder="Địa chỉ nhận hàng" name="address">
									</div>
								</div>
							</div>
							</br>
							<h2 class="text-center">Phương thức thanh toán</h2>												
							<div class="row text-center">
								<div class="col-md-4">
									<div class="radio">
										<label><input type="radio" value="2" name="paymentmethod"> Ví điện tử Momo</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="radio">
										<label><input type="radio" value="3" name="paymentmethod"> Thanh toán VNPay</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="radio">
										<label><input type="radio" value="1" name="paymentmethod"> Thanh toán khi nhận hàng (COD)</label>
									</div>
								</div>
							</div>
							</br>
							<input type="hidden" name="subtotal" value="@(Context.Session.GetInt32("subtotal"))">							
							<input type="hidden" name="total" value="@(Context.Session.GetInt32("total"))">
							<div class="row">
								<div class="col-md-12 text-center">
									<p><button type="submit" class="btn btn-primary">Thanh toán</button></p>
								</div>
							</div>
						</form>
					</div>					
				</div>				
			</div>			
		</div>
	</div>
</div>