@model ShoeShop.Models.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Liên hệ</span></p>
			</div>
		</div>
	</div>
</div>


<div id="colorlib-contact">
	<div class="container">		
		<div class="row">
			<div class="col-md-12">
				<div class="contact-wrap">
					<h3>Liên hệ với chúng tớ</h3>
					<form method="post" asp-action="Contact" asp-controller="Contact" class="contact-form">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="name">Họ và tên </label>
									<input type="text" id="name" class="form-control" placeholder="Nhập họ và tên" required asp-for="Name">
								</div>
							</div>							
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" id="email" class="form-control" placeholder="Nhập email" required asp-for="Email">
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<label for="message">Nội dung</label>
									<textarea id="content" cols="30" rows="10" class="form-control" placeholder="Nhập nội dung" asp-for="Content"></textarea>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group text-center">
									<input type="submit" value="Gửi cho chúng tớ ngay" class="btn btn-primary">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>