<div class="modal fade" id="createSize" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">Thêm cỡ giày</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">                
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="sizeBackdrop" class="form-label">Cỡ giày</label>
                        <input type="text"
                               id="sizeBackdrop"
                               class="form-control"/>
                    </div>
                    <div class="col mb-0">
                        <label for="quantityBackdrop" class="form-label">Số lượng</label>
                        <input type="text"
                               id="quantityBackdrop"
                               class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
</div>