@model ShoeShop.Models.OrderModel
@{
    ViewData["Title"] = "Create Order Admin";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> THÊM ĐƠN HÀNG</h4>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Mã đơn hàng</label>
                            <input type="text" class="form-control" id="basic-default-fullname" disabled asp-for="OrderId"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Tên khách hàng</label>
                            <input type="text" class="form-control" id="basic-default-fullname" asp-for="Name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Số điện thoại</label>
                            <input type="text" class="form-control" id="basic-default-fullname" asp-for="Phone" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Email</label>
                            <input type="text" class="form-control" id="basic-default-fullname" asp-for="Email" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Tổng tiền</label>
                            <input type="text" class="form-control" id="basic-default-fullname" asp-for="Total" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlSelect1" class="form-label">Phương thức thanh toán</label>
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" asp-for="PaymentMethod">
                                <option selected>Chọn phương thức thanh toán</option>
                                <option value="1">COD</option>
                                <option value="2">MOMO</option>
                                <option value="3">VNPay</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlSelect1" class="form-label">Trạng thái đơn hàng</label>
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" asp-for="Status">
                                <option value="1">Chưa thanh toán</option>
                                <option value="2">Đã thanh toán</option>
                                <option value="3">Lỗi</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Tạo mới</button>
                        <a href="@Url.Action("Index", "Order")" class="btn btn-outline-secondary">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>