@{
    ViewData["Title"] = "About Us";
}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Giới thiệu</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-about">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-sm-6 mb-3">
				<div class="video colorlib-video" style="background-image: url(assets/images/about.jpg);">
					<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
					<div class="overlay"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about-wrap">
					<h2>Shop Shoe tự tin là cửa hàng giày dép uy tín nhất Việt Nam</h2>
					<p>Chúng tôi mang đến những đôi giày chất lượng, thiết kế tinh tế và đa dạng phong cách, từ năng động, trẻ trung đến thanh lịch, sang trọng. Mỗi sản phẩm tại Shop Shoe đều được chọn lọc kỹ lưỡng, đảm bảo chất liệu tốt, form chuẩn và trải nghiệm sử dụng tuyệt vời. </p>

					<p>Với sứ mệnh giúp bạn “bước đi tự tin – khẳng định cá tính”, Shop Shoe không chỉ bán giày mà còn đồng hành cùng bạn trên hành trình thể hiện bản thân qua từng phong cách riêng biệt.
						Hãy khám phá bộ sưu tập của chúng tôi và tìm cho mình đôi giày hoàn hảo nhất ngay hôm nay!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>