@model IEnumerable<ShoeShop.Models.ContactModel>
@{
    ViewData["Title"] = "Contact Admin";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> NGƯỜI DÙNG LIÊN HỆ</h4>
    <div class="card">        
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Họ và tên</th>                        
                        <th>Email</th>
                        <th>Nội dung</th>        
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var contact in Model)
                    {
                        <tr>
                            <td> <strong>@contact.Name</strong></td>
                            <td>
                                @contact.Email
                            </td>
                            <td style="max-width: 300px; white-space: normal; word-wrap: break-word;"> @contact.Content</td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Action("Delete", "Contact", new { id = contact.Id })"><i class="bx bx-trash me-1"></i> Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>